@import url("./header.css");
@import url("./footer.css");
@import url("./variable.css");
body {
  margin: 0;
  font-family: var(--main-font);
}
img {
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn.tabActive {
  background-color: var(--main-bg-color);
  color: #202020;
}
.reveal {
  opacity: 0;
}
.reveal.active {
  opacity: 1;
  transition: all 1.3s ease;
  transform: translateX(0);
}
.reveal-tab1 {
  transform: translateY(40px);
}
.reveal-tab2 {
  transform: translateY(80px);
}
.reveal-tab3 {
  transform: translateY(120px);
}
.reveal-tab2-img1 {
  transform: translateX(-100px);
}

.buttons {
  margin: 2% 10% 2% 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn {
  border-radius: 0.4rem;
  background-color: #18829c;
  width: 20vw;
  height: 6vh;
  color: var(--white);
  font-size: 1.2vw;
}

.btn:hover {
  cursor: pointer;
}
.homePage-video {
  width: 100%;
  height: 100vh;
  top: 0;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.homePage-video video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.homePage-video > h1 {
  width: 100%;
  height: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 10vw;
  text-align: center;
  font-weight: 800;
  mix-blend-mode: multiply;
  color: var(--main-bg-color);
  background-color: #303030;
}
#detach-button-host {
  display: none !important;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("img/aboutUs/bg1.jpg");
}

@media only screen and (max-width: 600px) {
  h4,
  .buttons > button {
    font-size: 0.8em;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }
  .btn {
    width: auto;
    border-radius: 0;
    margin: var(--mobile-padding);
    margin-top: 0.7em;
  }
  .info {
    width: 100%;
    text-align: center;
  }
  .reveal-tab1 {
    transform: translateX(20px);
  }
  .reveal-tab2 {
    transform: translateX(40px);
  }
  .reveal-tab3 {
    transform: translateX(60px);
  }
}
