.footer {
  background-color: var(--gray);
  display: grid;
  grid-template-columns: 15% 25% 25% 30%;
  padding: var(--main-padding);
}
.footer > * {
  padding-top: 1em;
  padding-bottom: 1em;
}
.footer-product > ul {
  list-style-type: none;
}
.footer-product > ul > h5 {
  color: var(--white);
}
.social-responsibility > ul {
  list-style-type: none;
}
.footer-aboutus > ul {
  list-style-type: none;
}
.footer-product > ul > li > a {
  text-decoration: none;
  color: #aeaeae;
  line-height: 1.7;
}
.footer.contact > select,
input[type="text"] {
  padding: 0.5em 0.5em;
  margin: 0.1em 0;
  display: grid;
  border-radius: var(--radius);
  box-sizing: border-box;
}

.footer-contact p {
  color: var(--white);
}

.social-responsibility > ul > li > a {
  text-decoration: none;
  color: #aeaeae;
  line-height: 1.7;
}
.social-responsibility > ul > h5 > a {
  text-decoration: none;
  color: var(--white);
}
.footer-aboutus > ul > li > a {
  text-decoration: none;
  color: #aeaeae;
  line-height: 1.7;
}
.footer-aboutus > ul > h5 > a {
  text-decoration: none;
  color: var(--white);
}
.footer-product > ul > h5 > a {
  text-decoration: none;
  color: var(--white);
}
.footer-bottom {
  border-top: 0.5px solid #454545;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--gray);
  align-items: center;
  padding: var(--main-padding);
  padding-top: 0.5em;
}
.bottom-footer-title {
  color: var(--white);
}
.footer-contact-button {
  background-color: var(--main-bg-color);
  border-radius: var(--radius);
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: var(--white);
}
.icon {
  width: 1.5em;
  height: auto;
}
.footer-contact {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-Logo {
  width: 6.6em;
  height: auto;
}
.icon:hover {
  transform: rotate3d(1, 1, 1, 360deg);
  transition: all 1s ease;
}
@media only screen and (min-width: 1200px) {
  hr {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .footer {
    padding: var(--mobile-padding);
    grid-template-columns: 1fr;
    grid-template-areas:
      "footer-contact"
      "footer-product"
      "social-responsibility"
      "footer-aboutus";
  }
  .footer-bottom {
    padding: var(--mobile-padding);
  }
  .footer-contact {
    padding: var(--mobile-padding);
  }
}
