@import url(./variable.css);
@import url(./header.css);
@import url(./footer.css);
body {
  margin: 0;
  font-family: var(--main-font);
}
img {
  max-width: 100%;
}
.happiness {
  background-image: url("../img/Happiness/happiness-bg.png");
  background-color: var(--main-color);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em 0 1em 0;
}
section > h1 {
  color: var(--main-bg-color);
  font-size: 2.6rem;
  padding-left: 1rem;
}
section > p {
  font-size: 1.2rem;
  color: var(--white);
  font-weight: 500;
  text-align: justify;
  padding: 0 2rem 0 2rem;
}
.happiness-information {
  margin: var(--main-padding);
  background-color: rgb(102, 85, 85, 10%);
  padding: 0.5em;
}
.reveal {
  opacity: 0;
}
.reveal.active {
  opacity: 1;
  transition: all 1.2s ease;
  transform: translateX(0);
}
.reveal-title {
  transform: translateX(-100px);
}
.reveal-happiness-information {
  transform: translateX(100px);
}
.bg {
  height: auto;
  text-align: left;
  padding: 1rem;
}
section > p > a {
  text-decoration: none;
}

.social-responsibility > ul > li > a {
  text-decoration: none;
  color: #aeaeae;
  line-height: 1.7;
}
.social-responsibility > ul > h5 > a {
  text-decoration: none;
  color: var(--white);
}
@media only screen and (min-width: 1020px) {
  hr {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .happiness-information {
    margin: var(--mobile-padding);
  }
  section > h1 {
    font-size: 2rem;
    text-align: center;
  }
}
