@import url(./variable.css);
@import url(./activeNav.css);
@import url(./header.css);
@import url(./footer.css);
body {
  margin: 0;
  font-family: var(--main-font);
}
img {
  max-width: 100%;
}
.mcs-logo:hover {
  transform: rotate3d(1, 1, 1, 360deg);

  transition: all 1s ease;
}
/* nav css */
.nav {
  box-sizing: border-box;
  background-color: var(--gray);
  display: flex;
  min-height: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 3em 0.4em 3em;
}

.nav-logo {
  width: 9em;
  height: auto;
}
.hamburger {
  display: none;
  cursor: pointer;
  align-items: center;
}
.bar {
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--white);
  margin: 0.3rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.nav-menu > li > a {
  color: white;
  text-decoration: none;
}
.nav-menu > li {
  align-items: center;
  list-style-type: none;
}
.nav-menu > ul :hover {
  color: skyblue;
}
.mcs-logo {
  width: 2.5rem;
  text-align: center;
}
.mcs {
  border-radius: var(--radius);
}
/*nav-css*/
.wrapper {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 55% 45%;
  grid-area: "product-title product-img";
  padding: var(--main-padding);
  padding-top: 5em;
  padding-bottom: 5em;
}
.product-title {
  font-family: var(--main-font);
}

.product-title > h2 {
  color: var(--white);
  font-size: 1.7em;
}
.product-title > p {
  color: var(--white);
  margin-left: 1.2em;
  text-align: justify;
}

.product-button {
  overflow: hidden;
  position: relative;
  display: inline-block;
  background-color: #202020;
  padding: 1em;
  border-radius: 1.2rem;
}
.product-button > span {
  color: var(--main-bg-color);
}

.product-button::before,
.product-button::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 20%;
}
.product-button::before {
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.product-button::after {
  content: attr(data-replace);
  height: 100%;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: whitesmoke;
}

.product-button:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.product-button:hover::after {
  transform: translate3d(0, 0, 0);
}

.product-button span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.product-button:hover span {
  transform: translate3d(-200%, 0, 0);
}

/* Presentational Styles */
.product-img {
  margin-left: 2.5em;
}
.product-img1 {
  margin-left: 1.5em;
}
.inf {
  margin-bottom: 2rem;
}
.information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.4em;
  padding: 0 11em 0 11em;
  margin-top: 2em;
}
.mcs {
  border-radius: var(--radius);
}
.information2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.4em;
  padding: 0 11em 0 11em;
}

.about-mcs {
  border-radius: 10px;
}
.about-mcs,
.happiness-center {
  display: block;
  position: relative;
}

.information-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: 0.7s ease;
  background-color: rgb(191, 45, 0, 60%);
  border-radius: var(--radius);
  margin-bottom: 0.25em;
}
.about-mcs:hover .information-overlay {
  opacity: 1;
}
.happiness-center:hover .information-overlay {
  opacity: 1;
}
.text {
  font-family: var(--main-font);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}
.text > button {
  border-radius: var(--radius);
  background-color: rgb(191, 45, 0, 10%);
  color: var(--white);
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
}

.plant-tour,
.vacancy {
  position: relative;
  width: 100%;
  transition: 0.9s ease;
  color: white;
  text-align: center;
}
.plant-tour:hover .information2-overlay {
  opacity: 1;
}
.information2-vacancy-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(104, 117, 164, 95%);
  color: #f1f1f1;
  width: 100%;
  transition: 0.9s ease;
  opacity: 0;
  color: white;
  height: 3em;
  text-align: center;
  border-radius: 0.6em 0.6em 0 0;
  margin-bottom: 0.25em;
}

.vacancy:hover .information2-vacancy-overlay {
  opacity: 1;
}
.information2-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(196, 197, 88, 90%);
  color: #f1f1f1;
  width: 100%;
  height: 3em;
  transition: 0.9s ease;
  opacity: 0;
  color: white;
  text-align: center;
  border-radius: 0.6em 0.6em 0 0;
  margin-bottom: 0.25em;
}
.information2-vacancy-overlay > h3 > a {
  text-decoration: none;
  color: var(--white);
}
.plant-tour:hover .information2-overlay {
  opacity: 1;
}

.vacancy:hover .information2-vacancy-overlay {
  opacity: 1;
}
.social-responsibility > ul > li > a {
  text-decoration: none;
  color: #aeaeae;
  line-height: 1.7;
}
.social-responsibility > ul > h5 > a {
  text-decoration: none;
  color: var(--white);
}
.reveal {
  opacity: 0;
}
.reveal-title {
  transform: translateX(-150px);
}
.reveal-button {
  transform: translateY(100px);
}
.reveal-img1 {
  transform: translateX(150px);
}
.reveal-img2 {
  transform: translateX(200px);
}
.reveal-img3 {
  transform: translateX(250px);
}
.reveal-information-img1 {
  transform: translateX(-20px);
}
.reveal-information-img2 {
  transform: translateX(20px);
}
.reveal-information-img3 {
  transform: translateY(20px);
}
.reveal-information-img4 {
  transform: translateY(60px);
}
.reveal-information-img5 {
  transform: translateY(100px);
}
.reveal.active {
  opacity: 1;
  transition: all 1.3s ease;
  transform: translateX(0);
}
.reveal {
  opacity: 0;
}

.reveal.active {
  opacity: 1;
  transition: all 2s ease;
}
@media only screen and (min-width: 1020px) {
  hr {
    display: none;
  }
}
@media only screen and (max-width: 660px) {
  .nav-logo {
    width: 8em;
    height: auto;
    align-items: center;
  }
  .nav {
    padding: var(--mobile-padding);
  }
  .wrapper {
    padding: var(--mobile-padding);
    grid-template-columns: 1fr;
    grid-template-areas:
      "product-img"
      "product-title";
  }
  .product-title {
    grid-area: product-title;
    text-align: center;
  }
  .product-title > p {
    text-align: justify;
  }

  .product-img {
    grid-area: product-img;
    margin-left: auto;
    margin-right: auto;
  }
  .product-img1 {
    width: 5em;
    height: auto;
  }
  .product-button::before,
  .product-button::after {
    position: absolute;
    left: 0;
  }
  .information {
    grid-template-columns: 1fr;
    padding: var(--mobile-padding);
  }
  .information2 {
    grid-template-columns: 1fr;
    padding: var(--mobile-padding);
  }

  .mcs-logo {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.5em) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.5em) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    gap: 0;
    top: 2.8rem;
    flex-direction: column;
    background-color: rgb(43, 43, 43, 96%);
    width: 100%;
    text-align: center;
    align-items: center;
    transition: 0.4s;
    padding: 0;
  }
  .nav-item {
    margin: 1rem 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
