@import url(./variable.css);
.nav {
  background-color: var(--black);
  display: grid;
  grid-template-columns: 30% 63% 7%;
  padding: 0.4em 4em 0.4em 4em;
}
.nav-logo {
  width: 9em;
  height: auto;
}
.nav-right > ul > li > a {
  display: block;
  color: white;
  align-items: center;
  padding-right: 2em;
  text-decoration: none;
  cursor: pointer;
}
.nav-right > ul > li {
  align-items: center;
  float: left;
}
.wrapper {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 65% 35%;
  grid-area: "product-title product-img";
  padding: var(--main-padding);
  padding-top: 2em;
  padding-bottom: 2em;
}

.product-title > h2 {
  color: var(--white);
  font-size: 1.7em;
}
.product-title > p {
  color: var(--white);
}
.product-title > button {
  background-color: #000000;
  color: var(--white);
  padding: 1em;
  border-radius: var(--radius);
}
.information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.4em;
  padding: var(--main-padding);
  margin-top: 2em;
}
.about-mcs,
.happiness-center,
.plant-tour,
.doYouKnow {
  border-radius: var(--radius);
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.information2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.4em;
  padding: var(--main-padding);
}
.footer {
  background-color: var(--gray);
  margin-top: 4em;
  display: grid;
  grid-template-columns: 15% 25% 25% 30%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding: var(--main-padding);
}
.footer-product > ul {
  list-style-type: none;
}
.footer-product > ul > h5 {
  color: var(--white);
}
.social-responsibility > ul {
  list-style-type: none;
}
.footer-aboutus > ul {
  list-style-type: none;
}
.footer-product > ul > li > a {
  text-decoration: none;
  color: #aeaeae;
  line-height: 1.7;
}
.footer-contact p {
  color: var(--white);
}

.social-responsibility > ul > li > a {
  text-decoration: none;
  color: #aeaeae;
  line-height: 1.7;
}
.social-responsibility > ul > h5 > a {
  text-decoration: none;
  color: var(--white);
}
.footer-aboutus > ul > li > a {
  text-decoration: none;
  color: #aeaeae;
  line-height: 1.7;
}
.footer-aboutus > ul > h5 > a {
  text-decoration: none;
  color: var(--white);
}
.footer-product > ul > h5 > a {
  text-decoration: none;
  color: var(--white);
}
.footer-bottom {
  border-top: 0.5px solid #454545;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--gray);
  align-items: center;
  padding: var(--main-padding);
}
.bottom-footer-title {
  color: var(--white);
}
.footer-contact-button {
  background-color: var(--main-bg-color);
  border-radius: var(--radius);
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: var(--white);
}
.icon {
  width: em;
  height: auto;
}
.footer-contact {
  color: #aeaeae;
}
.footer-Logo {
  width: 6.6em;
  height: auto;
}
@media only screen and (min-width: 1020px) {
  hr {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .nav-logo {
    width: 7em;
    height: auto;
  }
  .nav {
    padding: 0;
  }
  .wrapper {
    padding: var(--mobile-padding);
    grid-template-columns: 1fr;
    grid-template-areas:
      "product-img"
      "product-title";
  }
  .product-title {
    grid-area: product-title;
    text-align: center;
  }
  .product-title > p {
    text-align: justify;
  }

  .product-img {
    grid-area: product-img;
    margin-left: auto;
    margin-right: auto;
  }
  .product-img1 {
    width: 5em;
    height: auto;
    padding-left: 1em;
  }
  .footer {
    padding: var(--mobile-padding);
    grid-template-columns: 1fr;
    grid-template-areas:
      "footer-contact"
      "footer-product"
      "social-responsibility"
      "footer-aboutus";
  }
  .footer-bottom {
    padding: var(--mobile-padding);
  }
  .information {
    grid-template-columns: 1fr;
    padding: var(--mobile-padding);
  }
  .information2 {
    grid-template-columns: 1fr;
    padding: var(--mobile-padding);
  }
  .nav-right {
    display: none;
  }
  .footer-contact {
    padding: var(--white);
  }
}
