@import url("./header.css");
@import url("./footer.css");
@import url("./variable.css");
body {
  margin: 0;
  font-family: var(--main-font);
}
img {
  max-width: 100%;
}

.first {
  margin: 0 10%;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.first > button {
  border-radius: 2rem;
  width: 300px;
  height: 5vh;
  background-color: rgba(255, 0, 0, 1);
  color: var(--white);
  border: 2px red solid;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 65%;
}


.first > button:hover{
  background-color: #000;
  /* color: black; */
}

.buttons > button {
  width: 25vw;
  height: 4vw;
  background-color: rgba(70, 144, 167, 0.815);
  color: var(--white);
  border: 2px white solid;
  font-size: 1vw;
  cursor: pointer;
  margin: 10vh 0;
}

.buttons > button:hover {
  background-color: var(--gray);
}

.buttons > button:active {
  background-color: var(--gray);
}


.nopixel > img {
  width: 10vw;
}

.bg {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 75vh;
  background: linear-gradient(0deg, #FFF 1%, grey 30%, var(--gray) 90%);
  z-index: -2;
}

.bg > img {
  border-radius: 10vw;
  box-shadow: 0 0 5vh 2vh #000;
  top: 15vh;
  position: absolute;
  width: 1600px;
  height: 90%;
}

.mainbg {
  width: 50rem;
  height: 40vh;
}

.human {
 width: 3%;
 height: 5%;
 border-right: 2px red solid;
 margin: 10px;
}

.images {
  width: 55vw;
  margin: auto;
  border-bottom: 1px solid var(--red);
}

.images > img {
  width: 100%;
  /* display: none; */
}
h2 {
  color: var(--red);
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div > p {
  font-weight: bolder;
  font-size: 1.1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

@media only screen and (max-width: 1000px){
  .bg > img {
    width: 100%;
    height: 70%;
  }
  .bg {
    height: 65vh;
  }
  .human {
    width: 10vw;
  }
  .first {
    justify-content: center;
    /* margin: 0; */
  }
  .first > button:first-child {
    margin-left: 10%;
  }
  .first > button {
    /* position: absolute; */
    /* z-index: 1; */
    margin: 0 1%;
    width: 30vw;
    height: 5vh;
    font-size: 2vw;
    bottom: 100vh;
  }

  .buttons > button {
    width: 25vw;
    height: 5vw;
    font-size: 1.3vw;
  }
  .info {
    margin-top: 2vh; 
  }

  .images {
    width: 90vw;
  }
  div > p {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 2vw;
  }

}

@media only screen and (max-width: 600px) {
  .bg > img {
    width: 80%;
    height: 30%;
  }
  .bg {
    margin-right: 5%;
    height: 30vh;
  }
  .first > button {
    margin: 0;
    width: 100%;
    height: 3vh;
  }
  .info {
    margin-top: 0; 
  }
}