@import url("./variable.css");
@import url("header.css");
@import url("footer.css");
body {
  margin: 0;
}
img {
  max-width: 100%;
}


.contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  margin-top: 2rem;
  grid-auto-rows: 45vh;
} 

.contain >   a {
  display: flex;
  width: 100%;
  justify-content: center;
}
 .productImg{
  display: flex;
  width: 100%;
  justify-content: center;
  
} 

.container{
  position: relative;
}
.product{
  border: 1px solid hsla(45,4%,81%,0.3);
  padding: 1rem 0 1rem 0;
  position: relative;
  display: flex;
}
.transition{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url("../img/Products/Brand_dobrii_170630\ \(5\).jpg");
  overflow: hidden;
  width: 100%;
  height:0;
}
.product:hover .transition {
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
}
.prev {
  top: 50%;
  position: absolute;
  left: 0;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  padding: 1em;
  color: white;
}
.next{
  top: 50%;
  position: absolute;
  right: 0;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size: 20px;
  padding: 1em;
  color: white;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* CocaCola */
.transition1{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(244, 0 , 0, 88%);
  overflow: hidden;
  width: 100%;
  height:0;
}
.product:hover .transition1 {
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
  
}
/* Fanta */
.transition2{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
 background-color: rgb(255,165,0,88%);
  overflow: hidden;
  width: 100%;
  height:0;
}
.product:hover .transition2 {
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
}
/* Sprite */
.transition3{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
 background-color: rgb(50,205,50,88%);
  overflow: hidden;
  width: 100%;
  height:0;
}
.product:hover .transition3 {
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
}
/* Bonaqua */
.transition4{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(135,206,250,88%);
  overflow: hidden;
  width: 100%;
  height:0;
}
.product:hover .transition4 {
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
}
/* Peace tea */
.transition5{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
 background-color: rgb(32,178,170,90%);
  overflow: hidden;
  width: 100%;
  height:0;
}
.product:hover .transition5 {
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
}
/* моя семья */
.transition6{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
 background-color: rgb(197, 187, 153,88%);
  overflow: hidden;
  width: 100%;
  height:0;
}
.product:hover .transition6{
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
}
/* Fuze tea */
.transition7{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
 background-color: rgb(32,178,170,90%);
  overflow: hidden;
  width: 100%;
  height:0;
}
.product:hover .transition7{
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
}
/* Minute Maid */
.transition8{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(255,165,0,88%);
  overflow: hidden;
  width: 100%;
  height:0;

}
.product:hover .transition8{
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
}
/* Schweppes */
.transition9{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(197, 187, 153,88%);
  overflow: hidden;
  width: 100%;
  height:0;

}
.product:hover .transition9{
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
}
/* Millenia*/
.transition10{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(135,206,250,88%);
  overflow: hidden;
  width: 100%;
  height:0;

}
.product:hover .transition10{
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
}
.transition11{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(135,206,250,88%);
  overflow: hidden;
  width: 100%;
  height:0;

}
.product:hover .transition11{
  bottom: 0;
  height: 100%;
  outline:none;
  transition: .4s ease;
}
/* Coca-cola Modal */
.text {
  color: var(--white);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
  
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
}


.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  background-image: url("../img/Products/ea1165ff-1e5e-48a8-ba4b-b765cfd8d403.png");
  background-position-x: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close,
 .close2 , 
 .close3 ,
 .close4 ,
 .close5,
 .close6,
 .close7 ,
 .close8,
 .close9,
 .close10,
 .close11,
 .close12{
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover ,
.close2:hover , 
.close3:hover ,
.close4:hover ,
.close5:hover,
.close6:hover,
.close7:hover ,
.close8:hover,
.close9:hover,
.close10:hover,
.close11:hover,
.close12:hover,
.close:focus {
  color: var(--red);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color : var(--white);

}

.modal-body {
color: var(--white);
margin:var(--main-padding);
}
/* Fanta Modal */
.fanta-modal-content {
  display: grid;
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  background-image: url("../img/Products/fantaBg.jpg");
  background-position-x: left;
  background-position-y:bottom;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Sprite Modal */
.sprite-modal-content {
  display: grid;
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  background-image: url("../img/Products/SPRITE\ web.jpg");
  background-position-x: left;
  background-position-y: top;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Bonaqua Modal */
.bonaqua-modal-content {
  display: grid;
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
background-image: url("../img/Products/pexels-olena-ukraine-933701.jpg");
  background-position:center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Peace tea Modal */
.peace-modal-content {
  height: 80%;
  display: grid;
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
background-image: url("../img/Products/26804404_407175973045518_2051645\ \(2\).png");
background-position: center;
  background-position-x: left;
  background-position-y: top;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Moy */
.moy-modal-content {
  display: grid;
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
background-image: url("../img/Products/606eb60d-e654-466a-8ff0-18fed9ae9497-moya\ semya\ web.png");
background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Fuze tea*/
.fuze-modal-content {
  display: grid;
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
background-image: url("../img/Products/Brand_fuze-170630.jpg");
background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Minute Maid */
.minute-modal-content {
  display: grid;
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
background-image: url("../img/Products/mm-web.png");
background-position-x: center;
background-position-y: bottom;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Schweppes */
.schweppes-modal-content {
  display: grid;
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
background-image: url("../img/Products/Brand_Schweps-170630.jpg");
background-position-x: right;
background-position-y: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Millenia */
.millenia-modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
background-image: url("../img/Products/millenia-web.png");
background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
@media only screen and (max-width: 1350px) {
  .contain {
    margin: 2vh 4vw 2vh 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 880px) {
  .contain {
    margin: 2vh 0 2vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}