@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@100&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');
:root {
  --main-bg-color: #ff3d00;
  --main-padding: 0 8em 0 8em;
  --mobile-padding: 0 1.2em 0 1.2em;
  --gray: #2b2b2b;
  --red: #FF0000;
  --button-red: #B10000;
  --white: #fff;
  --black: #000000;
  --radius: 0.6em;
  --main-font: 'Roboto Flex', sans-serif;
  --happiness-background: rgba(102, 85, 85, 0.5);
}
