@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap");
:root {
  --main-bg-color: #ff3d00;
  --main-padding: 0 8em 0 8em;
  --mobile-padding: 0 1.2em 0 1.2em;
  --gray: #2b2b2b;
  --red: #FF0000;
  --white: #fff;
  --black: #000000;
  --radius: 0.6em;
  --main-font: "Zilla Slab", sans-serif;
}