@import "https://unpkg.com/open-props";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    background-color: black;
    position: fixed;
    width: 100%;
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > nav > .links {
    width: 50vw;
    height: 100%;
}

header > nav > .links > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > nav > section > ul > li > a{
    text-decoration: none;
    color: #fff;
}


header > nav > section > picture > img{
    height: 4vw;
}

footer {
    background-color: #2B2B2B;
}

footer > article > ul > li > a {
    color: #AEAEAE;
    text-decoration: none;
}

.garchig { 
    color: #fff;
}
